body{
    background-image: linear-gradient(to right, yellow, lightgreen);
    color: blue;
    font-size: 30px;
    text-align: center;
}

#a{
    background-image: linear-gradient(to right, yellow, lightgreen);
    width: 100%;
    border: none;
    padding: 10px;
    color: aliceblue;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;     
}
#a:hover{
   background-image: linear-gradient(to right, rgb(248, 248, 1), rgb(136, 227, 136));
}