body{
    background-image: linear-gradient(to right, yellow, lightgreen);
    color: blue;
    font-size: 30px;
    text-align: center;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: aliceblue;
    padding: 15px;
    border-radius: 15px;
    width: 25%;
}
fieldset{
    border: 3px solid blue;
}
legend{
    border: 1px solid blue;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
    background-color: blue;
    color: aliceblue;
}
.clubes{
    text-align: left;
}
.SP{
    color: red;
}
.Corinthians{
    color: black;
}
.Palmeiras{
    color: green;
}
.Santos{
    color: black;
}
#submit{
    background-image: linear-gradient(to right, yellow, lightgreen);
    width: 100%;
    border: none;
    padding: 10px;
    color: aliceblue;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;     
}
#submit:hover{
   background-image: linear-gradient(to right, rgb(248, 248, 1), rgb(136, 227, 136));
}
